* {
	box-sizing: border-box;
}
body {
	background: #D1D2D4;
	font-family: 'Open Sans', sans-serif;
	margin: 0; 
}
div {
	display: flex;	
	flex-flow: row wrap;
}

header {
	background: #404041;
	color: #DD1972;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 80px;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

header h1 strong {
	text-decoration: unset;
}

h2 {
	color: #ffffff;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
}

h2:before,
h2:after {
    background-color: #ffffff;
    content: '\a0';
    height: 1px;
    max-width: 13.5%;
    min-width: 13.5%;
    overflow: hidden;
    position: absolute;
    top: 29%;
}

h2:before {
    margin-left: -15%;
    text-align: right;
}

h2:after {
	margin-left: 2%;
	text-align: left;
}

main {
	background: #f7f7f7;
	border-right: 2px solid #6e6e6e;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 50%;
	min-width: 50%;
	padding-bottom: 0;
}

form h3 {
	font-weight: 300;
	margin-left: 3%;
	margin-top: 2%;
}

form {
	background: #ffffff;
	border: 1px solid #d0d2d3;
	max-width: 95%;
	min-width: 95%;
	margin: 0 auto;
	margin-top: 2%;
}

fieldset legend {
	font-weight: 700;
	padding-top: 2%;
}

strong {
	text-decoration: underline;
}

fieldset {
	border: 0;
}

form fieldset p {
	display: inline-flex;
	flex-flow: column wrap;
}

form fieldset legend p {
	display: inline-flex;
	flex-flow: column wrap;
}

input[type="submit"] {
	background: #6e6e6e;
	border-radius: 40px;
	border-style: none;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 2%; 	
	margin-left: 10%;
	max-width: 24%;
	width: 24%;
}

#update-button {
	bottom: -30px;
	font-size: 18px;
	margin-left: 4%;
	max-width: 20%;
	position: relative;
}

input[type=submit]:hover {
  background-color: #DD1972;
}

button[type=submit]:hover {
  background-color: #DD1972;
}

button[type=reset]:hover {
  background-color: #DD1972;
}

.text-input-error {
  border: 1px solid #DD1972;
}

.error-message {
    font-color: #DD1972;
  }

.error-message-hidden {
  visibility: hidden;
}

.min-range {
	width: 33%;
}

.max-range {
	width: 33%;
	margin-left: 3%;
}

.player {
	width: 60%;
}

.player-guess {
	margin-left: 3%;
	width: 30%;
}

input[type=text] {
	height: 40px;
	width: 100%;
}

input[type=number] {
	height: 40px;
	width: 100%;
}

button {
	background: #6e6e6e;
	border-radius: 40px;
	border-style: none;
	color: #ffffff;
	font-size: 18px; 
	margin-bottom: 2%;	
	margin-left: 5%;
	max-width: 27%;
	width: 27%;

}

section {
	background: #ffffff;
	border: 1px solid #d0d2d3;
	max-width: 95%;
	min-width: 95%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

section h3 {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	position: absolute;
}

section p {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 9%;
	padding-top: 5%;
}

.challenger1-name {
	font-weight: 700;
}

.challenger2-name {
	font-weight: 700;
}

.challenger1 {
	align-items: center;
	flex-direction: column;
	padding-right: 4%;
}

.challenger2{
	align-items: center;
	border-left: 1px solid #d0d2d3;
	flex-direction: column;
	padding-left: 10%;
}

.guesses {
	color: #DD1972;
	font-size: 90px;
	font-weight: 700;
}

aside {
	align-self: flex-start;
	margin-top: 0;
	max-width: 50%;
	min-width: 50%;
	padding: 2% 5%; 
}

.gray-out {
	background: #d0d2d3;
}

/*winner card styling*/
.winner-card {
	background: #ffffff;
	border: 1px solid #6e6e6e;
	color: #7F7F7F;
	display: block;
	height: 200px;
	margin-bottom: 5%;
	min-width: 100%;
	text-align: center;
}

h4 {
	border-width: 90%;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

h4 span {
	font-weight: 300;
}

h4:after {
	border-bottom: 1px solid #eeeeee;
	content:"";
	display: block;	
	margin: 0 auto;
	padding-top: 1%;
	width:94%;
}

#winner-name {
	display: block;
	font-weight: 700;
	font-size: 200%;
	margin: 0;
}

.winner {
	font-size: 200%;
	margin: 1% 0;

}

.winner:after {
	border-bottom: 1px solid #eeeeee;
	content:"";
	display: block;	
	margin: 0 auto;
	padding-top: 5%;
	width:94%;
}

.remove-button {
    margin-left: 90%;
    margin-top: 9px;
    max-width: 25px;
}

/*medium screens*/

@media (max-width: 875px) {
	
	#update-button {
		display: block;
		margin-left: 0;
		min-width: 30%;
		position: unset;
	}

	section p {
		margin-left: 35%;
	}

	.challenger1 {
		padding-bottom: 6%;
		padding-right: 0%;
	}

	.challenger1:after {
	border-bottom: 1px solid #d0d2d3;
	content:"";
	display: block;	
	margin: 0 0;
	padding-top: 5%;
	width: 150%;
}

	.challenger2 {
		border: none;
		padding-left: 0%;
	}
}
	

/*small screens*/
@media (max-width: 688px) {
	h1 {
		font-size: 300%;
	}

	h2 {
		font-size: 100%;
	}

	div .layout {
  	display: flex;
  	flex-flow: column wrap;
  }

  main {
  	max-width: 100%;
	min-width: 100%;
  }
  .set-range {
  	display: flex;
  	flex-direction: column;
  }

  .min-range {
  	width: 100%;
  }

  .max-range {
  	margin-left: 0;
  	width: 100%;
  }


  #update-button {
  	margin-left: 0;
  	position: unset;
  }

  .current-range {
  	display: flex;
  	flex-flow: column wrap;
  }

  .player {
  	width: 96%;
  }

  .player-guess {
  	margin-left: 0;
  	width: 96%;
  }

  #submit-guess-button,
  #reset-game-button, 
  #clear-game-button {
  	line-height: 1.75;
  	margin-bottom: 1%;
  	margin-left: 2%;
  	margin-top: 2%;
  	min-width: 96%;
  }

  section {
  	display: flex;
  	flex-flow: column;
  	justify-content: center;
  	position: relative;
  }

  section h3 {
  	left: 1%;
  	top: 1%;
  }

  .challenger1 {
	margin-left: 0;
	padding-right: unset;
  	border-bottom: 1px solid #d0d2d3;
  	border-right: none;
	}

	.challenger1:after {
		border-bottom: unset;
	}

	.challenger2 {
		margin-left: 0;
	}

  aside {
  	max-width: 100%;
	min-width: 100%;
  }
}

/*smallest screen*/

@media (max-width: 450px) {
	h1 {
		font-size: 200%;
	}
}

