* {
	box-sizing: border-box;
}
body {
	background: #D1D2D4;
	font-family: 'Open Sans', sans-serif;
	margin: 0; 
}
div {
	display: flex;	
	flex-flow: row wrap;
}

header {
	background: #404041;
	color: #DD1972;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 80px;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

header h1 strong {
	text-decoration: unset;
}

h2 {
	color: #ffffff;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
}

h2:before,
h2:after {
    background-color: #ffffff;
    content: '\a0';
    height: 1px;
    max-width: 13.5%;
    min-width: 13.5%;
    overflow: hidden;
    position: absolute;
    top: 29%;
}

h2:before {
    margin-left: -15%;
    text-align: right;
}

h2:after {
	margin-left: 2%;
	text-align: left;
}

main {
	background: #f7f7f7;
	max-width: 50%;
	min-width: 50%;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	height: 100%;
}

form h3 {
	font-weight: 300;
	margin-left: 3%;
	margin-top: 2%;
}

form {
	background: #ffffff;
	border: 1px solid #d0d2d3;
	max-width: 95%;
	min-width: 95%;
	margin: 0 auto;
	margin-top: 2%;
}

fieldset legend {
	font-weight: 700;
	padding-top: 2%;
}

strong {
	text-decoration: underline;
}

fieldset {
	border: 0;
}

form fieldset p {
	display: inline-flex;
	flex-flow: column wrap;
}

form fieldset legend p {
	display: inline-flex;
	flex-flow: column wrap;
}

input[type="submit"] {
	background: #6e6e6e;
	border-radius: 40px;
	border-style: none;
	color: #ffffff;
	width: 24%;
	max-width: 24%;
	font-size: 18px;
	margin-left: 10%;
	margin-bottom: 2%; 	
}

#update-button {
	max-width: 20%;
	font-size: 18px;
	margin-left: 4%;
	position: relative;
	bottom: -30px;
}

input[type=submit]:hover {
  background-color: #DD1972;
}

button[type=submit]:hover {
  background-color: #DD1972;
}

button[type=reset]:hover {
  background-color: #DD1972;
}

.min-range {
	width: 33%;
}

.max-range {
	width: 33%;
	margin-left: 3%;
}

.player {
	width: 60%;
}

.player-guess {
	width: 30%;
	margin-left: 3%;
}

input[type=text] {
	width: 100%;
	height: 40px;
}

input[type=number] {
	width: 100%;
	height: 40px;
}

button {
	background: #6e6e6e;
	border-radius: 40px;
	border-style: none;
	color: #ffffff;
	width: 24%;
	max-width: 24%;
	font-size: 18px; 
	margin-left: 6%;
	margin-bottom: 2%;	

}

section {
	background: #ffffff;
	border: 1px solid #d0d2d3;
	max-width: 95%;
	min-width: 95%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

section h3 {
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	position: absolute;
}

section p {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 15%;
	padding-top: 5%;
}

.challenger1-name {
	font-weight: 700;
}

.challenger2-name {
	font-weight: 700;
}

.challenger1 {
	flex-direction: column;
	align-items: center;
	border-right: 1px solid #d0d2d3;
	padding-right: 15%;
}

.challenger2{
	flex-direction: column;
	align-items: center;
}

.guesses {
	font-size: 90px;
	color: #DD1972;
	font-weight: 700;
}

aside {
	max-width: 40%;
	min-width: 40%;
	margin-top: 0;
	align-self: flex-start;
	padding: 2% 5%; 
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 300%;
	}

	h2 {
		font-size: 100%;
	}

	div .layout {
  	display: flex;
  	flex-flow: column wrap;
  }

  main {
  	max-width: 100%;
		min-width: 100%;
  }
  .set-range {
  	display: flex;
  	flex-direction: column;
  }

  .min-range {
  	width: 100%;
  }

  .max-range {
  	width: 100%;
  	margin-left: 0;
  }

  #update-button {
  	margin-left: 0;
  	position: unset;
  }

  .current-range {
  	display: flex;
  	flex-flow: column wrap;
  }

  .player {
  	width: 96%;
  }

  .player-guess {
  	width: 96%;
  	margin-left: 0;
  }

  #submit-guess-button,
  #reset-game-button, 
  #clear-game-button {
  	min-width: 96%;
  	margin-left: 2%;
  	margin-top: 2%;
  	margin-bottom: 1%;
  	line-height: 1.75;
  }

  section {
  	display: flex;
  	flex-flow: column;
  	justify-content: center;
  	position: relative;
  }

  section h3 {
  	top: 1%;
  	left: 1%;
  }

  .challenger1 {
  	border-right: none;
  	border-bottom: 1px solid #d0d2d3;
		padding-right: unset;
		margin-left: 0;
	}

	.challenger2 {
		margin-left: 0;
	}

  aside {
  	max-width: 100%;
		min-width: 100%;
  }
}

